@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap');

:root {
    --orange: #F6821F;
    --dark-blue: #003682;
    --light-blue: #0055DC;
    --silver: #C5C5C5;
    --dark-grey: #0F141A;
    --light-grey: #1E2834;
    --danger: #F6821F;

    --ion-background-color: #0F141A;
    --ion-font-family: 'Fira Mono', monospace ;
}

.ion-color-primary {
    --ion-color-base: var(--orange) !important;
}

.ion-color-secondary {
    --ion-color-base: var(--silver) !important;
}

.ion-color-danger {
    --ion-color-base: var(--danger) !important;
}

ion-text.subheader {
    font-size: 24px;
}

.notistack-error {
    background-color: var(--danger) !important;
}

.notistack-success {
    background-color: var(--orange) !important;
}

ion-router-link {
    color: var(--orange) !important;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

ion-input {
    --color: var(--silver) !important;
    --background: var(--light-grey) !important;
}

ion-textarea {
    --color: var(--silver) !important;
    --background: var(--light-grey) !important;
}
